@use "sass:math";
@use "sass:color";
@use "../mixins" as *;
@use "../_variables" as *;

.breadcrumbs {
	font-size: 1.375rem;
	line-height: 152.847%;
	padding: 1.31rem 0;
	@media (min-width: $md4) {
		padding: 3rem 0 1.5rem;
	}
	& ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		@media (min-width: $md4) {
			justify-content: flex-start;
		}
		& li {
			&:not(:last-child) {
				margin-right: 0.35rem;
				&::after {
					content: ">";
					margin-left: 0.35rem;
				}
			}
			& a {
				transition: color 0.3s ease;
				@media (any-hover: hover) {
					&:hover {
						color: $accent;
					}
				}
			}
		}
	}
}
