@use "sass:math";
@use "sass:color";
@use "../_mixins" as *;
@use "../_variables" as *;

html {
	scrollbar-gutter: stable;
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 375px;
	min-height: 100%;
	line-height: normal;
	color: $text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:has(.header.open-menu) {
		overflow: hidden;
		.wrapper {
			&::before {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}
}

.desc {
	padding: rem(90) 0 rem(60);
	background: url("@img/splash-decor.svg") 0 0 / auto no-repeat;
	&:has(.desc__content.row-reserse) {
		background: url("@img/splash-decor-right.svg") 100% center / auto no-repeat;
	}
	& + .desc {
		padding-top: rem(30);
	}
	// .desc__content
	&__content {
		display: flex;
		justify-content: space-between;
		gap: 2rem;

		flex-direction: column;
		@media (min-width: $md3) {
			align-items: center;
			flex-direction: row;
			&.row-reserse {
				flex-direction: row-reverse;
			}
		}
	}
	// .desc__title
	&__title {
	}
	// .desc__row
	&__row {
		--gutter-x: 4rem;
	}
	// .desc__column
	&__column {
		&:nth-child(2) {
			.desc__header {
				flex-direction: column;
				align-items: flex-start;
			}
			.desc__header-image {
				width: rem(265);
				height: rem(197);
				clip-path: path(
					"M104.861 6.97595C131.37 -2.46085 162.473 -3.67971 185.924 11.9004C208.528 26.918 208.23 57.9973 219.101 82.8748C233.783 116.476 279.022 149.507 259.647 180.619C240.105 212 190.256 188.429 153.303 188.535C130.564 188.6 109.798 187.926 88.0991 181.112C56.5749 171.211 11.2476 172.534 1.62604 140.9C-7.95965 109.383 31.1189 85.9262 51.2182 59.8519C67.1549 39.1776 80.277 15.727 104.861 6.97595"
				);
			}
		}
	}
	// .desc__main
	&__main {
		@media (min-width: $md3) {
			&.small {
				max-width: 32.5rem;
			}
			&.standart {
				.desc__title {
					margin-right: -6rem;
				}
			}
		}
	}
	// .desc__text
	&__text {
		margin-top: 2.81rem;
		line-height: 152.847%;
		font-size: rem(18);
		& ul {
			margin-top: 2rem;
			li {
				&::before {
					content: "✔";
					margin-right: 0.25rem;
				}
			}
		}
		& p {
			&:not(:first-child) {
				margin-top: 2rem;
			}
		}
		&:has(ul) {
			font-size: 1.125rem;
		}
		@media (min-width: $md5) {
			font-size: 1.375rem;
		}
	}
	// .desc__btn
	&__btn {
		margin-top: 3.19rem;
		max-width: 23.75rem;
		width: 100%;
	}
	// .desc__image
	&__image {
		position: relative;
	}
	// .desc__image-item
	&__image-item {
		display: block;
		flex-shrink: 0;
		&.mask-1 {
			aspect-ratio: math.div(643, 687);
			clip-path: url(#desk-mask-1);
			& + .desc__icon {
				top: 0;
				right: 7rem;
			}
			width: rem(443);
			@media (min-width: $md2) {
				width: rem(643);
			}
		}
		&.mask-2 {
			margin-right: -3rem;
			aspect-ratio: math.div(663, 498);

			clip-path: url(#desk-mask-2);
			& + .desc__icon {
				top: 3rem;
				left: 7rem;
			}
			width: rem(463);
			@media (min-width: $md2) {
				width: rem(663);
			}
		}
		&.mask-3 {
			width: rem(549);
			aspect-ratio: math.div(549, 539);
			clip-path: url(#desk-mask-3);
			& + .desc__icon {
				bottom: 3rem;
				right: 7rem;
			}
		}
		&.mask-4 {
			width: rem(569);
			aspect-ratio: math.div(569, 377);
			clip-path: url(#desk-mask-4);
			& + .desc__icon {
				bottom: 3rem;
				left: 4rem;
			}
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .desc__icon
	&__icon {
		position: absolute;
		width: 9rem;
		height: 9rem;
		flex-shrink: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: linear-gradient(92deg, #01ecd3 4.16%, #01b5e7 85.09%), #d9d9d9;
	}
	// .desc__header
	&__header {
		display: flex;
		align-items: center;
		gap: 1.81rem;
	}
	// .desc__header-image
	&__header-image {
		width: 6.6875rem;
		height: 7.5rem;
		flex-shrink: 0;
		clip-path: path(
			"M58.4193 0.129461C75.7315 1.12461 93.7145 8.88224 102.481 23.8289C110.238 37.0532 97.9532 52.5213 98.1389 67.8475C98.3296 83.5859 113.657 100.861 103.561 112.945C93.5229 124.96 73.7295 118.704 58.4193 115.389C46.7476 112.862 38.4282 104.642 29.3592 96.879C19.0137 88.0235 6.30241 81.021 2.87872 67.8475C-1.45946 51.1553 -1.96369 31.7937 8.97714 18.4541C20.5589 4.33301 40.1757 -0.919235 58.4193 0.129461Z"
		);
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.request {
	margin-top: auto;
	padding-top: rem(60);
	&__wrapper {
		background: #e8f2fa;
		padding: rem(40) 0 rem(50);
		@media (min-width: $md5) {
			padding: 4.94rem 0 5.44rem;
		}
	}
	// .request__body
	&__body {
		align-items: center;
	}
	// .request__header
	&__header {
		display: flex;
		align-items: center;
		gap: rem(29);
		text-align: center;
		@media (min-width: $md5) {
			text-align: left;
		}
	}
	// .request__icon
	&__icon {
		display: none;
		@media (min-width: $md5) {
			background: linear-gradient(92deg, #01ecd3 4.16%, #01b5e7 85.09%);
			width: rem(70);
			height: rem(70);
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}
	}
	// .request__title
	&__title {
		@media (min-width: $md3) {
			& span {
				display: block;
			}
		}
	}
	// .request__subtitle
	&__subtitle {
		text-align: center;
		margin-top: 0.94rem;
		@media (min-width: $md5) {
			margin-top: 1.69rem;
			text-align: left;
		}
		@media (min-width: $md3) {
			max-width: 28rem;
		}
	}
	// .request__form
	&__form {
		border-radius: 0.9375rem;
		background: #fff;
		padding: 1.44rem;
		@media (min-width: $md5) {
			padding: rem(27) rem(24);
		}
		@media (min-width: $md3) {
			margin-left: auto;
			max-width: 35.5625rem;
		}
	}
}
