@use "_mixins" as *;

$fontfamily: "Onest";

$md1: 1439.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: rem(1240);
$containerPadding: 30;

$text: #101010;
$white: #fff;
$accent: #4599f7;
$red: #fa0644;
$grey: #bcbcbc;

$ui-index-1: 1;
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

$header: var(--header-height, #{rem(124)});
