@use "sass:math";
@use "sass:color";
@use "_mixins" as *;
@use "_variables" as *;

.form {
	// // .form__title
	// &__title {
	// 	line-height: 1;
	// 	margin-bottom: 0.25rem;
	// }
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		border-radius: 0.9375rem;
		background: #fff;
		border: rem(1) solid $grey;
		color: $text;
		line-height: 100%;
		font-size: 1rem;
		padding: 1.15rem 1.56rem;
		min-height: rem(58);
		font-size: 0.875rem;
		font-weight: 600;
		text-transform: uppercase;
		&::placeholder {
			opacity: 1;
			color: $grey;
		}
		&:hover,
		&:focus {
			border-color: $accent;
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			outline: 1px solid #ba2028;
			background: #fff1ed;
		}
	}
	// // .form__textarea
	// &__textarea {
	// 	height: rem(78);
	// 	resize: none;
	// 	text-overflow: ellipsis;
	// 	transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
	// 	width: 100%;
	// 	background: #fff;
	// 	padding: 0 0 0.94rem 0;
	// 	border: 0;
	// 	border-bottom: rem(1) solid #d7d7d7;
	// 	color: $text;
	// 	font-size: 1rem;
	// 	line-height: 150%;
	// 	@media (min-width: $md2) {
	// 		font-size: 1.125rem;
	// 	}
	// 	&::placeholder {
	// 		opacity: 1;
	// 		color: rgba(43, 50, 57, 0.3);
	// 	}
	// 	&:hover,
	// 	&:focus {
	// 		border-color: $text;
	// 	}
	// 	&:disabled {
	// 		background: #ddd;
	// 		border-color: #ddd;
	// 	}
	// 	&._error {
	// 		outline: 1px solid #ba2028;
	// 		background: #fff1ed;
	// 	}
	// }

	// // .form__checkbox
	// &__checkbox {
	// 	margin-top: 1.25rem;
	// 	display: block;
	// }
	// // .form__checkbox-input
	// &__checkbox-input {
	// 	&:checked {
	// 		& + .form__checkbox-text {
	// 			&::before {
	// 				@extend %ic, .icon-check;
	// 			}
	// 		}
	// 	}
	// 	&.error {
	// 		& + .form__checkbox-text {
	// 			&::before {
	// 				border: rem(1) solid red;
	// 			}
	// 		}
	// 	}
	// }

	// // .form__checkbox-text
	// &__checkbox-text {
	// 	position: relative;
	// 	display: block;
	// 	width: fit-content;
	// 	color: rgba(43, 50, 57, 0.3);
	// 	font-size: 0.75rem;
	// 	line-height: 150%;
	// 	padding: 0 0 0 1.25rem;
	// 	cursor: pointer;
	// 	user-select: none;
	// 	&::before {
	// 		content: "";
	// 		position: absolute;
	// 		top: 50%;
	// 		transform: translateY(-50%);
	// 		left: 0;
	// 		display: flex;
	// 		justify-content: center;
	// 		align-items: center;
	// 		border: rem(1) solid #2b3239;
	// 		color: #2b3239;
	// 		width: rem(15);
	// 		height: rem(15);
	// 		border-radius: rem(3);
	// 		display: flex;
	// 		justify-content: center;
	// 		align-items: center;
	// 	}
	// 	& a {
	// 		text-decoration: underline;
	// 		@media (any-hover: hover) {
	// 			&:hover {
	// 				text-decoration: none;
	// 			}
	// 		}
	// 	}
	// }
	// .form__footer
	&__footer {
		margin-top: 0.65rem;
		display: flex;
		align-items: center;
		width: 100%;
		.btn {
			margin: 0 auto 0 auto;
		}
	}
	// .form__tooltip
	&__tooltip {
		color: #737373;
		font-size: rem(22);
		margin-left: rem(-22);
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .form__btn
	&__btn {
		.wpcf7-spinner {
			display: none;
		}
		& input[type="submit"] {
			background: transparent;
			padding: 0;
			font-family: inherit;
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
			text-transform: inherit;
		}
	}
	// .form__file
	&__file {
	}
	// .form__file-input
	&__file-input {
	}
	// .form__file-btn
	&__file-btn {
		font-size: 1.625rem;
		color: #bdbdbd;
		cursor: pointer;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;

	align-items: center;
	text-align: center;
	user-select: none;
	transition: all 0.3s ease 0s;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 1rem 1.5rem;
	border-radius: 0.9375rem;
	min-width: 13rem;
	min-height: rem(58);
	cursor: pointer;
	&[class*="icon"] {
		padding: 1rem 1.25rem 1rem 1.75rem;
	}
	&::before {
		width: 1.5rem;
		height: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
	}
	&::before {
		order: 1;
	}
	&.btn-primary {
		border: rem(2) solid #4599f7;
		background: #4599f7;
		color: #fff;
		&:hover {
			background: color.adjust($color: #4599f7, $lightness: -10%);
			color: #fff;
		}
		&:active {
			background: color.adjust($color: #4599f7, $lightness: -15%);
			color: #fff;
		}
	}
	&.btn-primary-outline {
		border: rem(2) solid #4599f7;
		color: #4599f7;
		&:hover {
			background: #4599f7;
			color: #fff;
		}
		&:active {
			background: color.adjust($color: #4599f7, $lightness: -10%);
			color: #fff;
		}
	}
	&.btn-secondary {
		border-radius: 0.9375rem;
		border: rem(1) solid #02dcd9;
		color: #4599f7;
		&:hover {
			background: #02dcd9;
			color: #fff;
		}
		&:active {
			background: color.adjust($color: #02dcd9, $lightness: -10%);
		}
	}
	&.btn-white {
		border: 2px solid #fff;
		color: #fff;
		&:hover {
			background: #393939;
		}
		&:active {
			background: color.adjust($color: #393939, $lightness: -10%);
		}
	}
	&.btn-blue {
		background: #38b6ff;
		color: #fff;
		&:hover {
			background: #1ca2ef;
		}
		&:active {
			background: color.adjust($color: #1ca2ef, $lightness: -10%);
		}
	}
	&.btn-fullwidth {
		width: 100%;
	}
	&.btn-sm {
		padding: 0.3125rem 2.125rem;
	}
	&.btn-md {
		padding: 0.75rem 1.6875rem;
		@media (min-width: $md5) {
			padding: 0.5625rem 1.6875rem;
		}
	}
	&.btn-lg {
		font-size: 1.25rem;
		border-radius: 0.5rem;
		padding: 1.2rem 2.65rem;
	}
	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}
	& input[type="submit"] {
		font-family: inherit;
		background: transparent;
		color: inherit;
		text-transform: inherit;
		line-height: inherit;
		font-weight: inherit;
	}
}

.switcher {
	// .switcher__input
	&__input {
		&:checked {
			& + .switcher__btn {
				&::before {
					left: rem(2);
				}
				background: #81a6ca;
			}
		}
	}
	// .switcher__btn
	&__btn {
		position: relative;
		width: rem(35);
		height: rem(20);
		border-radius: 6.25rem;
		background: #81a6ca;
		display: block;
		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			top: rem(2);
			left: rem(17);
			width: rem(16);
			transition: left 0.3s ease 0s;
			border-radius: 50%;
			background: #fff;
			height: calc(100% - rem(4));
		}
	}
}
