@use "sass:math";
@use "sass:color";
@use "_mixins" as *;
@use "_variables" as *;

.header {
	padding: 1rem 0;
	// .header__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 rem(10);
	}
	// .header__logo
	&__logo {
		max-width: rem(259);
	}
	// .header__menu
	&__menu {
		padding-right: 6.5rem;
		& ul {
			display: flex;
			gap: 2.5rem;
			font-size: 1rem;
			& a {
				transition: color 0.3s ease;
				@media (any-hover: hover) {
					&:hover {
						color: $accent;
					}
				}
				&[aria-current="page"] {
					color: $accent;
				}
			}
		}
	}
	// .header__info
	&__info {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .header__price
	&__price {
		font-size: 1.125rem;
	}
	// .header__cart
	&__cart {
		width: 3.4375rem;
		height: 3.4375rem;
		flex-shrink: 0;
		border: rem(2) solid #000;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-size: 1.5rem;
		position: relative;
		transition: background-color 0.3s ease, color 0.3s ease;
		& span {
			position: absolute;
			width: 1.0625rem;
			height: 1.0625rem;
			font-size: 0.625rem;
			top: 0;
			right: 0;
			background: #4599f7;
			border-radius: 50%;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #000;
				color: #fff;
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;
	width: rem(24);
	height: rem(24);
	z-index: 11;

	& span {
		display: block;
		padding: rem(2) rem(0);
		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: contents;
		pointer-events: none;
		& svg {
			display: block;
			height: rem(3);
			width: 100%;
			color: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: contents;
		}
	}
	.header.open-menu & {
		color: $text;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			& svg {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(7));
				& svg {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-7));
				& svg {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
